@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-xl:32px;
  --font-lg:28px;
  --font-md:20px;
  --font-sm:18px;
  --font-xs:16px;
  --fw-semi_bold:600;
  --fw-bold:700;
  --fw-regular:400;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


.wrapper{
  padding: 0 10rem;
}

h1{
  font-size: var(--font-xl);
  font-weight: var(--fw-semi_bold);
}

h2{
  font-size: var(--font-lg);
}

h3{
  font-size: var(--font-md);
}

h4{
  font-size: var(--font-sm);
}

h5{
  font-size: var(--font-xs);
  font-weight: var(--fw-regular);
}

.page-heading{
  padding-block: 1rem;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #fff;
  position: sticky;
  top: 0;
  color: #333;
  font-weight: var(--fw-bold);
  z-index: 1000;
  font-size: 23px;
}

.about-container{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.about-content-container{
  flex-basis: 100%;
  color: #333;
}

.about-image-container{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image-container img{
  width: 80%;
}

.wrapper-block{
  margin-block: 3rem;
}

.offerings-heading{
  font-weight: var(--fw-bold);
  color: #333333;
}

.offerings-content{
  width: 75%;
  margin-block: 12px;
}

.blog-item-container{
  height: 348px;
  padding: 1rem 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-item-category{
  font-size: 14px;
}

.blog-item-heading{
  font-weight: var(--fw-semi_bold);
  margin-top: 1.25rem;
  width: 65%;
}

.offerings_static-container{
  padding-block: 3rem;
  background: #ffffff url('../public/assets/backgroundImage.png');
  color: #333333;
}

.offerings_static_cards-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.offerings_static-card{
  flex: 0 0 30%;
}

.offerings_static-card-image{
  display: flex;
  justify-content: center;
}

.offerings_static-card-heading{
  font-weight: var(--fw-semi_bold);
  margin-top: 1.25rem;
  text-align: center;
}

.offerings_static-card-content{
  margin-top: 0.75rem;
  text-align: center;
}

.about-skills-container{
  padding-block: 3rem;
  background-color: #202834;
  color: #fff;
}

.about-skills-content-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 2.25rem;
}


@media screen and (max-width:var(--breakpoint-xl)) {
  .wrapper{
    padding: 0 6rem;
  }
}

@media screen and (max-width:var(--breakpoint-md)) {
  .wrapper{
    padding: 0 4rem;
  }
}

@media screen and (max-width:var(--breakpoint-sm)) {
  .wrapper{
    padding: 0 2rem;
  }
}