.scroll{
  background-color: #fff;
  color: #000000;
}

.after{
  width: 40px;
  height: 4px;
  background-color: #d42334;
  position: absolute;
  left: 0;
  bottom: 17px;
  border-radius: 5px;
  display: none;
}

.nav_list>li:hover .after{
  display: block;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav_data{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  height: 70px;
}

.nav_logo img{
  width: 100%;
}

.nav_toggle{
  width: 45px;
  height: 45px;
  display: flex;
  background-color: #333333;
  cursor: pointer;
  display: none;
}

.toggle{
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: .3s ease;
}

.toggle:nth-child(1){
  top: 25%;
}

.toggle:nth-child(3){
  top: 75%;
}

.nav_toggle.active .toggle:nth-child(1){
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.nav_toggle.active .toggle:nth-child(2){
  opacity: 0;
}

.nav_toggle.active .toggle:nth-child(3){
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}

.dropdown_title{
  color: #0074bd;
}

.dropdown_link{
  font-size: 14px;
  color: #333333;
  margin-top: 8px;
}  

.dropdown_button:hover .dropdown_container{
  display: block;
}

@media screen and (min-width:768px) {
  .nav{
    display: flex;
    justify-content: space-between;
  }
  
  .nav_list{
    display: flex;
    column-gap: 3rem;
    height: 100%;
    align-items: center;
  }

  .nav_list>li{
    height: 100%;
    display: flex;
    align-items: center;
  }


  
  .nav li{
    display: flex;
  }
  
  
  .dropdown_button{
    column-gap: 0.25rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .dropdown_container{
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top:4rem;
    background-color: #fff;
    display: none;
    box-shadow: 0px 3px 6px #00000029;
    padding-block: 2rem;
  }
  
  .dropdown_content{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    justify-content: space-between;
    row-gap: 2rem;
  }
}

.transformation-content{
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.transformation-box:hover .transformation-content{
  display: flex;
}


.transformation-assurance{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 3px 6px #00000029;
}

.transformation-assurance>*{
  flex: 1 1 10%;
  background-color: #fff;
}

.transformation-assurance>*:nth-child(even){
  background-color: #E6E7E8;
}

@media screen and (max-width:768px) {

  .hide{
    display: none;
  }

  .nav_menu{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFF7F2;
    width: 100%;
    height: 100dvh;
    overflow: auto;
    padding-block: 1.5rem 4rem;
    z-index: 100000;
    opacity: 1;
  }

  .nav_link{
    padding: 1.25rem 1.5rem;
    display: flex;
  }

  .dropdown_content,.dropdown_group,.dropdown_list{
    display: grid;
  }

  .dropdown_container{
    background-color: #fff;
    display: none;
  }

  .dropdown_content{
    row-gap: 1.75rem;
  }

  .dropdown_group{
    padding-left: 2.5rem;
    row-gap: 0.5rem;
  }

  .dropdown_group:first-child{
    margin-top: 1.25rem;
  }

  .dropdown_group:last-child{
    margin-bottom: 1.25rem;
  }

  .dropdown_button{
    cursor: pointer;
  }

  .nav_toggle{
    display: flex;
    z-index: 1000000;
    position: fixed;
    right: 10%;
  }
}