.enquiryForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  
  .inputBlock>input,.inputBlock>textarea{
    width: 100%;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #666666;
    background: transparent;
    padding: 5px 0px;
  }
  
  .inputBlock>textarea{
    height: 70px;
  }
  
  .inputBlock label{
    color: #666666;
  }
  
  .inputBlock span{
    color: red;
  }
  
  .inputBlock:nth-child(5){
    grid-column: 1/3;
    
  }
  
  .btn{
    padding: 0.75rem 0;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    width: 100%;
  }
  
  /* .enquiryForm>div:last-child{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  } */

  @media screen and (max-width:1024px) {
    /* .btn{
      padding: 0.5rem 1rem;
      font-size: 16px;
    } */
    .enquiryForm>div:last-child{
      grid-column: 1/3;
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
    }
  }